body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    color:#FFF;
}
*{
    box-sizing: border-box;
    outline:none;
}
.wrapper{
    position: relative;
    width:100%;
    max-width:480px;
   height:680px;
    overflow: hidden;
    margin:auto;
    background:#173047;
}
.menu{
    position: absolute;
    top:200px;
    left:0;
    z-index:1000;
    width:100%;
    height:100%;

}
.menu a{
    color:#FFF;
}
 .menu a{
    width: 200px;
  height: 200px;
  background-color: #173047;
  position: relative;
  top:0;
  left:0;
  background: linear-gradient(180deg, rgba(52,144,203,1) 0%, rgba(10,47,78,1) 100%);
  background-attachment: fixed;
  margin-top:-100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
text-decoration: none;
font-size: 2rem;


 }
.menu a:nth-child(1){
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.menu a:nth-child(2){
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    background-position-x:-200px ;
}
.menu a:nth-child(3){
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.menu a:nth-child(4){
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    background-position-x:-200px ;
}
.menu a:nth-child(5){
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.menu a:hover{
    /* transform: scale(1.1); */
    
}
.menu.active a:not(:nth-child(1)){
    filter: blur(5px);
    transition:top 1s cubic-bezier(.49,.01,.62,.7),left 1s cubic-bezier(.49,.01,.62,.7);
  
}
.menu.active a:nth-child(1){
    top:72px;
    transition:top 1s cubic-bezier(.25,.1,.25,1)
}

.menu.active a:nth-child(2){
    top:-100%;
    left:10%;
    transition-delay: .05s;

}

.menu.active a:nth-child(3){
    left:-100%;
    transition-delay: .08s;
}
.menu.active a:nth-child(4){
    left:100%;
    top:10%;
    transition-delay: .1s;
}
.menu.active a:nth-child(5){
    top:10%;
    left:-100%;
    transform: scale(2);
    transition-delay: .03s;
}


.content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    left:50%;
    top:-5%;
    filter: blur(10px);
    transition:all 1s cubic-bezier(0,0,.58,1);
}
.content >div {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;

}
.content> div:before{
   
    content: "";
    position: absolute;
    width: 960px;
    height: 350px;
    background: #FFF;
    transform: rotate( 
333deg
 );
    left: -300px;
    top: 303px;
    z-index: 0;

}
.content >div img{
    position: relative;
    right: -70px;
    left: auto;
    margin: auto;
    width: 100%;
    top: 70px;
    transform:skew(32deg,0deg);
    transition:all 1s cubic-bezier(0,0,.58,1);
}
.content .header{
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0px 30px;
    transition:all 1s cubic-bezier(0,0,.58,1);
}
.header h1{
    margin:0;
}

.header h5{
    margin:0;
}
.header h1 span{
    color:rgba(52,144,203,1)
}

.content.active{
    left:0;
    top:0;
    filter: blur(0px);
}
.content.active.header{
    top:20%;
}
.content.active >div img{
    transform:skew(0deg,0deg);
}